<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/Sortable.js"></script>
    <script src="js/script.js"></script>
    <title>Home Screen</title>
</head>
<body onload="createDashboard()">
    <nav id="navbar">
        <div id="title"> Home Screen</div>
        <div id="darkmodeToggle"></div>
        <div id="newServiceButton">
            <i class="fas fa-plus"></i>
        </div>
    </nav>
    <div id="dashboard">
        <div id="dashboard-content">
        </div>
    </div>
    <div id="newServiceFormContainer">
        <div id="newServiceForm">

        </div>
    </div>
    <div id="background">
    </div>
</body>
</html>