<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    <title>Home Screen</title>
</head>
<body>
    <nav id="navbar">
        <div id="darkmodeToggle"></div>
        <div id="viewToggle"></div>
        <div id="search"></div>
    </nav>
    <div id="dashboard">
        <div id="dashboard-content">
            <div class="dashboard_column">
                <div class="column_items">
                    <div class="column_header_container">
                        <h1>Media</h1>
                    </div>
                    <a href="http://192.168.178.140:32400/web" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/plex.png" alt="">
                            <p>plex</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:8091/" class="column_item">
                    <div class="column_item_content">
                        <img src="icons/torrent.png" alt="">
                        <p>torrent</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="dashboard_column">
                <div class="column_items">
                    <div class="column_header_container">
                        <h1>Admin</h1>
                    </div>
                    <a href="https://192.168.178.133:8006/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/proxmox.png" alt="">
                            <p>proxmox</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.140/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/truenas.png" alt="">
                            <p>truenas</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:8070/admin/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/pihole.png" alt="">
                            <p>pihole</p>
                        </div>
                    </a>
                    <a href="https://bitwarden.tristan-sommer.de/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/bitwarden.png" alt="">
                            <p>vaultwarden</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard_column">
                <div class="column_items">
                    <div class="column_header_container">
                        <h1>Network</h1>
                    </div>
                    <a href="http://fritz.box/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/fritz!box.png" alt="">
                            <p>fritz!box</p>
                        </div>
                    </a>
                    <a href="http://switch.local/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/switch.png" alt="">
                            <p>switch</p>
                        </div>
                    </a>
                    <a href="https://192.168.178.117/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/accessPoint.png" alt="">
                            <p>accessPoint 1</p>
                        </div>
                    </a>
                    <a href="https://192.168.178.118/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/accessPoint.png" alt="">
                            <p>accessPoint 2</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard_column">
                <div class="column_items">
                    <div class="column_header_container">
                        <h1>Home Automation</h1>
                    </div>
                    <a href="http://192.168.178.142:8123/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/homeAssistant.png" alt="">
                            <p>home assistant</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard_column">
                <div class="column_items">
                    <div class="column_header_container">
                        <h1>Media Download</h1>
                    </div>
                    <a href="http://192.168.178.142:5055/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/overseer.png" alt="">
                            <p>overseer</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:8090/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/qbittorrent.png" alt="">
                            <p>qbittorrent</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:8989/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/sonarr.png" alt="">
                            <p>sonarr</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:7878/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/radarr.png" alt="">
                            <p>radarr</p>
                        </div>
                    </a>
                    <a href="http://192.168.178.142:9696/" class="column_item">
                        <div class="column_item_content">
                            <img src="icons/prowlarr.png" alt="">
                            <p>prowlarr</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>