<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/Sortable.js"></script>
    <script src="js/script.js"></script>
    <title>Home Screen</title>
</head>
<body onload="createDashboard()">
    <nav id="navbar">
        <div id="title"> Home Screen</div>
        <div id="darkmodeToggle"></div>
        <div id="newServiceButton">
            <i class="fas fa-plus" onclick="setEditWindowVisibility(true)"></i>
        </div>
    </nav>
    <div id="dashboard">
        <div id="dashboard-content">
        </div>
    </div>
    <div id="newServiceFormContainer">
        <div id="newServiceForm">
            <div id="barTop">
                <div id="buttonClose" class="barTopButton" onclick="setEditWindowVisibility(false)"></div>
                <div id="buttonMinimize" class="barTopButton"></div>
                <div id="buttonMaximize" class="barTopButton"></div>
            </div>
            <div id="dashboardColumnButtonContainer">
                <div id="dashboardColumnButtons">
                </div>
                <div id="dashboardColumnButtonsInactive">
                </div>
                <div class="dashboardColumnButtonActive" id="addColumnButton"><p>Add Column</p></div>
            </div>
            <div id="dashboardColumnContent">
                <div id="dashboardColumnLeft">
                    <div id="dashboardRowButtons">
                    </div>
                    <div id="dashboardRowButtonsInactive">
                    </div>
                    <div class="dashboardRowButtonActive" id="addRowButton"><p>Add Link</p></div>
                </div>
                <div id="dashboardColumnRight">
                    <h2 id="edit_heading">Edit</h2>
                    <input type="text" id="input_title" class="input_text" placeholder="Title" disabled>
                    <input type="text" id="input_icon" class="input_text" placeholder="Icon" disabled>
                    <input type="text" id="input_url" class="input_text" placeholder="URL" disabled>
                    <div id="edit_buttons">
                        <input type="button" value="save changes" id="button_save" class="button_edit" onclick="saveChangesClick()">
                        <input type="button" value="delete changes" id="button_delete" class="button_edit" onclick="deleteChangesClick()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="background">
    </div>
</body>
</html>